/* html {
  margin-bottom: 500px;
} */
.topnav {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  line-height: 30px;
}
.topnav-left {
  float: left;
}
.topnav-left span {
  margin-right: 28px;
  color: #808080;
}
.topnav-left a {
  color: #e40077;
}
.topnav-right {
  float: right;
}
.topnav-right a {
  margin-left: 18px;
  color: #808080;
}
.topnav-right > a:hover {
  color: #3eb4fa;
}
.topnav-right a span {
  color: #e40077;
}
/* 中国移动客户端背景 */
.topnav-phone {
  position: relative;
  display: inline-block;
  height: 18px;
  width: 114px;
  padding-left: 19px;
  background-image: url(../img/topnav-phone.png);
  background-position: 0px 4px;
  background-repeat: no-repeat;
}

/* 二维码 */
.qr {
  display: none;
  position: absolute;
  top: 30px;
  left: -1px;
  height: 162px;
  width: 162px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #dfddde;
}
.qr > img {
  height: 92px;
  width: 92px;
  margin: 24px 34px;
}
.qr > p {
  margin-top: -22px;
  margin-left: 24px;
  font-size: 12px;
  color: #3b3b3b;
}
.topnav-phone {
  height: 30px;
  width: 103px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.topnav-phone:hover {
  border-left: 1px solid #dfddde;
  border-right: 1px solid #dfddde;
}
.topnav-phone:hover .qr {
  display: block;
}
.kongb {
  position: absolute;
  top: -2px;
  height: 3px;
  width: 122px;
  background-color: #fff;
}
/*  2.搜索栏 */
.search {
  height: 135px;
  width: 100%;
  /* background-color: aquamarine; */
}
.search-top {
  height: 88px;
  width: 100%;
  /* background-color: cadetblue; */
}
.search-top-left {
  float: left;
}
.search-top-left img {
  float: left;
  margin-top: 18px;
  margin-right: 14px;
}
/* 2.1.1.2搜索栏南京 */
.search-top-slide {
  float: left;
  margin-top: 42px;
  font-size: 15px;
  height: 16px;
  width: 48px;
  /* background-color: turquoise; */
  background-image: url(../img/search-top-slide.png);
  background-repeat: no-repeat;
  background-position: 37px 5px;
}
/*  2.1.2 搜索栏上面部分 右边 */
.search-top-right {
  float: right;
}
.search-top-right-search {
  height: 32px;
  width: 498px;
  border: 1px solid #25b2fe;
  box-sizing: border-box;
  margin-top: 22px;
}
.search-top-right input {
  float: left;
  margin-left: 8px;
  margin-top: 10px;
  background-color: transparent;
  border: none;
}
.search-top-right span:hover {
  color: #3eb4fa;
}
.search-top-right-search button {
  float: right;
}
.search-top-right-search > div button {
  height: 30px;
  width: 77px;
  background-color: #25b2fe;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}
.search-top-right > a {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}
.search-top-right > a:nth-child(2n) {
  color: #e40077;
}
.search-top-bottom {
  height: 46px;
  width: 100%;
  border-bottom: 1px solid #3eb4fa;
  /* background-color: teal; */
}
.search-top-bottom > a {
  float: left;
  font-size: 16px;
  color: #222222;
  width: 240px;
}
.search-top-bottom > a > span {
  line-height: 46px;
  margin-left: 80px;
}
.search-top-bottom > a > span:hover {
  color: #3eb4fa;
}
/* 3.轮播 carousel*/
.carousel {
  height: 432px;
  width: 100%;
  /* background-color: tomato; */
}
.carousel-title {
  height: 40px;
  width: 100%;
}
.carousel-title > a > span {
  line-height: 40px;
  color: #999999;
}
.carousel-title > a > span:hover {
  color: #007bc7;
}
.carousel-bottom {
  height: 322px;
  width: 100%;
  /* background-color: teal; */
}
/* 4 精品音乐 */
.jingpin .container {
  height: 60px;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
}
.jingpin i {
  float: left;
  height: 25px;
  width: 25px;
  background-image: url(../img/ia_100000016.jpg);
  background-repeat: no-repeat;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 10px;
}
.jingpin span {
  font-size: 16px;
  color: #25b2fe;
  line-height: 60px;
}
/* 5 主体 main */
main {
  height: 550px;
  margin-top: 10px;
}
main .container {
  height: 100%;
  border-bottom: 1px solid #dfdfdf;
}
.main-recom {
  float: left;
  height: 504px;
  width: 540px;
  border: 1px solid #dfdfdf;
  padding-left: 15px;
  box-sizing: border-box;
}
.main-title {
  height: 42px;
}
.main-title span {
  display: inline-block;
  font-size: 14px;
  color: #dd137b;
  line-height: 46px;
  height: 100%;
  border-bottom: 1px solid #dd127b;
  box-sizing: border-box;
}
.main-song {
  height: 458px;
}
.main-song li {
  height: 46px;
}
.main-song li span:first-child {
  float: left;
  height: 24px;
  width: 24px;
  background-color: #cccccc;
  font-size: 16px;
  color: #ebf7ff;
  padding: 4px;
  box-sizing: border-box;
  margin-top: 11px;
}
.main-song li:nth-child(-n+3) span:first-child {
  background-color: #458fce;
}
.main-song li a {
  float: left;
  width: 240px;
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  margin-right: 22px;
  line-height: 46px;
}
.main-song li a:hover{
  color: #dd137b;
}
.rm{
  /* display: inline-block; */
  float: left;
  width: 120px;
  font-size: 12px;
  color: #333333;
  line-height: 46px;
}
.bf{
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url(../img/ia_100000037.jpg);
  margin-right: 25px;
  margin-top: 12px;
}
.xz{
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url(../img/ia_100000038.jpg)
}
.main-right{
  float: right;
  width: 660px;
  height: 100%;
  /* background-color: teal; */
}
.main-right img{
  height: 200px;
  width: 200px;
}
.main-right li{
  float: left;
  margin-left: 20px;
  height: 255px;
  width: 200px;
}
.main-right li h2{
  font-size: 14px;
  font-weight: normal;
color: #333333;
margin-top: 12px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.main-right li p{
  font-size: 12px;
color: #333333;
margin-top: 4px;
}
/* 15.底部 footer */
.footer {
  height: 198px;
  width: 100%;
  /* background-color: thistle; */
  text-align: center;
  margin-top: 30px;
}
.footer a:hover {
  color: #007bc7;
  text-decoration: underline;
  text-decoration-color: #007bc7;
}
.footer div > div {
  margin-bottom: 18px;
}
.footer-id span:first-child {
  margin-right: 22px;
}
.footer-id span:nth-child(2) {
  display: inline-block;
  height: 28px;
  margin-top: 12px;
  line-height: 24px;
}